body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  width: 1600px;
}

.container {
  margin: auto;
  max-width: 1280px;
}

.first-screen {
  background-image: url(assite/bg-image.jpg);
  height: 744px;
}

nav {
  display: flex;
  padding: 0;
  height: 94px;
}

.navigation {
  display: flex;
  margin-top: 0;
  padding-top: 25px;
  width: 582px;
  justify-content: space-between;
  margin: auto;
}

.navigation-item {
  margin: auto;
  list-style-type: none;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: #ffffff;
  margin-top: 13px;
}

.first-screen-content {
  margin-top: 136px;
}

h1 {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  letter-spacing: 4.5px;
  margin: 0;
  margin-left: 275px;
}

.first-screen-text {
  color: #ffffff;
  width: 504px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin-left: 388px;
  margin-top: 20px;
}

.button {
  width: 184px;
  height: 46px;
  background-color: #00afdb;
  text-transform: uppercase;
  text-align: center;
  align-items: center;

  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button:hover {
  background-color: #009cc2;
}
.first-screen-button {
  margin-left: 547px;
  margin-top: 30px;
}

.text-btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.first-screen-social {
  padding: 0;
  margin-top: 183px;
  width: 170px;
  margin-left: 555px;
  display: flex;
  justify-content: space-between;
}
/* second-screen */

.second-screen {
  height: 842px;
  background-color: #fff;
}
.second-screen-content-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 842px;
}
.second-screen-content {
  width: 407px;
}
.second-screen-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #373737;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 367px;
}
.second-screen-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

/* third-screen */

.third-screen {
  padding: 0;
  margin: 0;
  background-color: #f5f6f7;
  overflow: hidden;
}
.third-screen-content {
  display: inline-flex;
  margin-left: 109px;
  justify-content: center;
  align-items: center;
  height: 504px;
}
.third-screen-our-com {
  width: 298px;
  height: 175px;
  text-align: center;
}
.third-screen-avatar {
  border-radius: 100%;
}
.third-screen-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.third-screen-slider {
  display: flex;
  margin-left: 139px;
}
.slider-image {
  padding-right: 30px;
}
